/* Global style */

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* img {
    width: 400px;
    height: 400px;
} */

.price {
    color: red;
}

.neg-mt-100 {
    margin-top: -100px;
}

/* ============================= */

/*  Jumbotron */
.jumbotron {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.6) 100%
        ),
        url(https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=787&q=80);
}

/* Offers Deals */
.card {
    max-width: 100%;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
