/* Default Style */
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
/* font-family: 'Indie Flower', cursive; */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

/* General style applied */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* To Do List Section */
body {
    background-color: #c2bcfa;
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
}

.todo-title {
    font-size: 5rem;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-weight: 900;
    color: rgb(255, 0, 0);
    opacity: 0.8;
    text-shadow: #474747 3px 5px 2px, 6px 14px 11px rgba(28, 110, 164, 0);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 20%);
}

.container {
    background-color: rgb(255, 210, 210);
    padding: 30px;
    border-radius: 25px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    width: 50%;
    height: auto;
    max-width: 50%;
    max-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Add task */
.btn {
    /* background-image: linear-gradient(to right, #24345a, #2d477e, #355ba4, #3c70cb, #4286f4); */
    background-color: #5a95ff;
    color: #fff;
    width: 15%;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 20px;
    margin: 15px 0px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(48, 49, 49, 0.4);
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: #ff606c;
    box-shadow: 0px 15px 20px rgba(68, 70, 69, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.input-task {
    width: 100%;
    padding: 10px 8px;
    border: 0;
    border-bottom: 1px solid rgb(211, 207, 207);
    outline: none;
    font-family: "Indie Flower", cursive;
    font-weight: 400i;
    color: #38119e;
    font-size: 1.5rem;
}
.input-task:focus {
    border: 3px solid #5a95ff;
}

.input-task::placeholder {
    font-family: "Indie Flower", cursive;
    font-weight: 400i;
    color: rgb(124, 112, 112);
    font-size: 0.9rem;
}

/* Edit task */
.edit-task .card-task {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.edit-task .filter {
    width: 45%;
}

.filter:focus {
    text-align: left;
}

.edit-task ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    transition: all 0.3s ease 0s;
}

.edit-task ul li {
    color: rgb(94, 23, 35);
    transition: all 0.3s ease 0s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
    font-family: "Indie Flower", cursive;
    font-weight: 900;
    padding: 5px 20px;
    border: 1px solid rgb(238, 236, 236);
    font-size: 0.7rem;
    cursor: pointer;
    margin-top: 2%;
}

.edit-task .task-list li:hover {
    background-color: rgb(218, 217, 216);
    color: #5a95ff;
}

.edit-task .task-list li:hover .comp {
    color: #fff;
}

.edit-task ul li .comp {
    color: #f1807c;
    cursor: pointer;
    font-size: 1rem;
    float: right;
}

.edit-task ul li .comp:hover,
.edit-task .task-list li .comp:hover {
    color: rgb(255, 176, 5);
    transition: all 0.3s ease 0s;
}

.edit-task .btn {
    background-color: #43171e;
}

.card-task div h5 {
    color: #43171e;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.card-task div:last-child div {
    /* visibility: hidden; */
}

.card-task .completed-tasks li {
    color: rgb(185, 190, 185);
    border: 0;
    text-decoration: line-through;
    cursor: text;
    font-family: "Indie Flower", cursive;
    background: #ebecd5;
}

.green-check {
    opacity: 0;
}

.check {
    font-size: 350px;
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    animation: animation 1s;
    transition: 0.5s all ease;
}
@keyframes animation {
    0% {
        font-size: 100px;
        opacity: 0.2;
    }

    100% {
        font-size: 400px;
        opacity: 0.9;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 15px;
    }

    body {
        display: block;
    }

    .btn {
        width: 10%;
        padding: 5px;
        font-size: 0.5rem;
    }

    .container {
        padding: 5px;
        border-radius: 0;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    }
}
